<div class="header">
  <h1>Login</h1>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-block" style="overflow:auto">
          <button *ngIf="!user" id="google-login-button" class="btn btn-primary" (click)="login()">Google Sign-In</button>
          <br/>
          <div *ngIf="user">
            <h4>Hello {{user.name}}!</h4>
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>