<div class="header">
  <h1>Login</h1>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-block" style="overflow:auto">
          <button *ngIf="!token" id="google-login-button" class="btn btn-primary" (click)="googleAuthenticate()">Google Sign-In</button>
          <div *ngIf="token">
              <img src="{{imageURL}}">
              <br>
              <b>TOKEN: </b>
              <p>{{token.substring(0, 20)}}...</p>
              <b>NAME: </b>
              <p>{{name}}</p>
              <b>EMAIL: </b>
              <p>{{email}}</p>
          
              <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>