<div class="container" style="margin-left:80px; margin-top: 20px;">
    
    <!-- Header Row -->
    <div class="row">
        <div class="col-md-4">
            <h1>Widget Editor</h1>
        </div>
        <div class="col-md-8">
            <div class="input-group" style="margin-top:10px">
                <input *ngIf="widget" type="text" [(ngModel)]="widget.name" class="form-control" placeholder="Widget Name" aria-label="Recipient's username">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Edit</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Template Editor Row -->
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Template Editor</h4>
                    <p class="card-text">
                        <textarea *ngIf="widget" [(ngModel)]="widget.html" class="form-control" rows="5">
                        </textarea>
                    </p>
                    <button (click)="updateWidgetHtml()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">

                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a [ngClass]="{active:preview}" class="nav-link" href="#" (click)="showPreview()">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a [ngClass]="{active:!preview}" class="nav-link" href="#" (click)="showTokens()">Tokens</a>
                        </li>
                    </ul>

                    <br/>

                    <div *ngIf="preview" class="card">
                        <div class="card-block">
                            <div *ngIf="widget" [innerHTML]="sanitizeHtml(widget.html)"></div>
                        </div>
                    </div>

                    <div *ngIf="!preview" class="card">
                        <div class="card-block">
                            <div class="list-group">
                                <a *ngFor="let token of tokens" href="#" (click)="addTokenToPreview(token)" class="list-group-item list-group-item-action">{{token.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
