<div class="header">
  <h1>Client Editor</h1>
</div>

<div class="content">
  <div class="row">

    <!-- List of Clients -->
    <div class="col-md-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active" style="color:white">Client Configurations</a>
        <a href="#" (click)="selectClientForEdit()" class="list-group-item list-group-item-action"><strong>New Client</strong></a>
        <a *ngFor="let client of clients" href="#" (click)="selectClientForEdit(client)" class="list-group-item list-group-item-action">
          {{client.name}}
        </a>
      </div>
    </div>

    <!-- Edit/Create Client -->
    <div class="col-md-8">

      <div class="card">
        <div class="card-block">
          <!-- Header Tabs -->
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a [ngClass]="{active:activeTab === 'client'}" class="nav-link" href="#" (click)="setActiveTab('client')">Edit Client</a>
            </li>
            <li *ngIf="editingClient.id" class="nav-item">
              <a [ngClass]="{active:activeTab === 'tokens'}" class="nav-link" href="#" (click)="setActiveTab('tokens')">Tokens</a>
            </li>
          </ul>
    
          <!-- Edit Client Tab -->
          <div *ngIf="activeTab === 'client'" class="card" style="margin-top:20px;">
            <div class="card-block">

              <!-- Header -->
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Editing <strong>{{editingClient.name}}</strong></h4>
                </div>
                <div class="col-md-4">
                  <button style="float:right" class="btn btn-primary" (click)="saveClient()">Save</button>
                </div>
              </div>

              <!-- URL and Name -->
              <div class="input-group" style="margin-top:20px">
                <input type="text" [(ngModel)]="editingClient.name" class="form-control" placeholder="Client Name">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Edit</button>
                </span>
              </div>
              <div class="input-group" style="margin-top:20px">
                <input type="text" [(ngModel)]="editingClient.url" class="form-control" placeholder="URL">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Edit</button>
                </span>
              </div>

              <!-- Request Method and Interval -->
              <div class="row" style="margin-top:20px">
                <div class="col-md-6">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{editingClient.method || 'Request Method'}}
                    </button>
                    <div class="dropdown-menu">
                      <a *ngFor="let requestMethod of requestMethods" (click)="setRequestMethod(requestMethod)" class="dropdown-item" href="#">{{requestMethod}}</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <span style="float:right; margin-right: -20px; margin-top:5px">Interval:</span>
                </div>
                <div class="col-md-4">
                  <input type="text" [(ngModel)]="editingClient.interval" class="form-control" placeholder="Interval">
                </div>
              </div>

              <!-- Auth Selection -->
              <div class="row" style="margin-top:20px;">
                <div class="dropdown">
                  <div class="col-md-12">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{selectedAuthMethod || 'Auth Method'}}
                    </button>
                    <div class="dropdown-menu">
                      <a *ngFor="let authMethod of authMethods" (click)="setAuthMethod(authMethod)" class="dropdown-item" href="#">{{authMethod}}</a>
                    </div>  
                  </div>
                </div>
              </div>

              <!-- OAuth2 Inputs -->
              <div *ngIf="selectedAuthMethod === 'OAuth2'">

                <!-- Auth URL -->
                <div class="row" style="margin-top:20px;">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Auth URL</span>
                      <input [(ngModel)]="editingClient.oauth2_config.auth_url" type="text" class="form-control" placeholder="Auth URL">
                    </div>
                  </div>
                </div>
                
                <!-- API Key and Secret -->
                <div class="row" style="margin-top:20px;">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">API Key</span>
                      <input [(ngModel)]="editingClient.oauth2_config.api_key" type="text" class="form-control" placeholder="API Key">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">API Secret</span>
                      <input [(ngModel)]="editingClient.oauth2_config.api_secret" type="text" class="form-control" placeholder="API Secret">
                    </div>
                  </div>
                </div>

              </div>

              <!-- Test Client -->
              <div style="margin-top:20px">
                <button class="btn btn-info" (click)="testClient()">Test</button>
              </div>
              <div class="card" style="margin-top:20px">
                <div class="card-block">
                  
                  <!-- Response Headers -->
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a [ngClass]="{active:activeResponseTab === 'raw'}" class="nav-link" href="#" (click)="setActiveResponseTab('raw')">Raw Response</a>
                    </li>
                    <li class="nav-item">
                      <a [ngClass]="{active:activeResponseTab === 'tokens'}" class="nav-link" href="#" (click)="setActiveResponseTab('tokens')">Tokens</a>
                    </li>
                  </ul>

                  <!-- Raw Response -->
                  <div *ngIf="activeResponseTab === 'raw'">
                    <br/>
                    <pre>{{rawResponse}}</pre>
                  </div>
                  
                  <!-- Token Result List -->
                  <div *ngIf="activeResponseTab === 'tokens'" class="list-group" style="margin-top:20px;">
                    <a style="cursor:pointer; overflow:auto;" *ngFor="let token of responseTokens" (click)="createToken(token)" data-toggle="modal" data-target="#editTokenModal" class="list-group-item list-group-item-action justify-content-between">
                      <div class="d-flex w-100 justify-content-between">
                        <h5>{{token.location}}</h5>
                      </div>
                      <p>{{token.value}}</p>
                    </a>
                  </div>


                </div>
              </div>
              <div style="margin-top:20px">
                <button class="btn btn-danger" (click)="deleteClient()">Delete</button>
              </div>
            </div>
          </div>
    
          <!-- Tokens Tab -->
          <div *ngIf="activeTab === 'tokens' && editingClient.id" id="token-list" class="list-group" style="margin-top:20px;">
            <a on-mouseover="hvTokenIdx = i" on-mouseleave="hvTokenIdx = -1" *ngFor="let token of editingClient.tokens; let i=index" class="list-group-item list-group-item-action justify-content-between">
              <span class="edit-token-link" (click)="editToken(token)" data-toggle="modal" data-target="#editTokenModal">{{token.name}}</span>
              <span *ngIf="hvTokenIdx === i" (click)="removeTokenFromClient(token)" class="badge badge-default badge-pill">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <a id="add-token-link" (click)="createToken(null)" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#editTokenModal"><strong>Add New Token...</strong></a>
          </div>

          <!-- Hidden button to refresh client -->
          <button id="refresh-client" style="display:none" (click)="refreshClient()"></button>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- Uploader Modal -->
<edit-token [token]="editingToken" [client]="editingClient"></edit-token>