<div *ngIf="widget" class="content"> 

  <div class="row">
    <div class="col-md-12">
      <h1>Widget Editor</h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="margin-top:10px">
      <div class="input-group">
        <input *ngIf="widget" type="text" [(ngModel)]="widget.name" class="form-control" placeholder="Widget Name">
        <span class="input-group-btn">
          <button (click)="updateWidgetName()" class="btn btn-secondary" type="button">Update</button>
        </span>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:10px; text-align:right;">
      <button *ngIf="widget.id" (click)="deleteWidget()" class="btn btn-danger">Delete Widget</button>
      <button *ngIf="!widget.id" (click)="createWidget()" class="btn btn-primary">Create Widget</button>
    </div>
  </div>

  <!-- Template Editor Row -->
  <div class="row" style="margin-top: 20px">

    <!-- Template Editor -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Template Editor</h4>
          <p class="card-text">
            <textarea *ngIf="widget" [(ngModel)]="widget.html" class="form-control" rows="5"></textarea>
          </p>
          <button (click)="updateWidgetHtml()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-block">

          <!-- Header Tabs -->
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a [ngClass]="{active:activeTab === 'preview'}" class="nav-link" href="#" (click)="setActiveTab('preview')">Preview</a>
            </li>
            <li *ngIf="widget.id" class="nav-item">
              <a [ngClass]="{active:activeTab === 'tokens'}" class="nav-link" href="#" (click)="setActiveTab('tokens')">Tokens</a>
            </li>
            <li *ngIf="widget.id" class="nav-item">
              <a [ngClass]="{active:activeTab === 'clients'}" class="nav-link" href="#" (click)="setActiveTab('clients')">Clients</a>
            </li>
          </ul>

          <br/>

          <!-- Preview -->
          <div *ngIf="activeTab === 'preview'" class="card">
            <div class="card-block">
              <div *ngIf="widget" [innerHTML]="sanitizeHtml(widget.html)"></div>
            </div>
          </div>

          <!-- Tokens -->
          <div *ngIf="activeTab === 'tokens' && widget.id" class="card">
            <div class="card-block">
              <div id="widget-token-list" class="list-group">
                <a on-mouseover="hvTokenIdx = i" on-mouseleave="hvTokenIdx = -1" *ngFor="let token of widget.tokens; let i=index;" class="list-group-item list-group-item-action justify-content-between">
                  {{token}}
                  <span *ngIf="hvTokenIdx === i" (click)="removeTokenFromWidget(token)" class="badge badge-default badge-pill">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <!-- Clients -->
          <div *ngIf="activeTab === 'clients' && widget.id" class="card">
            <div class="card-block">
              
              <div id="client-list" class="list-group">
                <a on-mouseover="hvCltIdx = i" on-mouseleave="hvCltIdx = -1" *ngFor="let client of widgetClients; let i=index" class="list-group-item list-group-item-action">
                  <div class="col-md-5">
                    {{client.name}}
                  </div>
                  <div class="col-md-5">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Token
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngFor="let token of client.tokens" (click)="addTokenToWidget(token)" class="dropdown-item" href="#">{{token.name}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <span *ngIf="hvCltIdx === i" (click)="removeClientFromWidget(client)" class="badge badge-default badge-pill">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                  </div>
                </a>
              </div>

              <br/>

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add Client
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a *ngFor="let client of allClients" (click)="addClientToWidget(client)" class="dropdown-item" href="#">{{client.name}}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" routerLink="/client-editor">Create a new client...</a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
