<div *ngIf="dashboard" class="content">
  
  <div class="row">
    <div class="col-md-12">
      <h1>Dashboard Editor</h1>
      <hr/>
    </div>
  </div>
  
  <div class="row">
    <div class="container box">

      <div class="input-fields">

        <h4><strong>{{dashboard.name}}</strong></h4>

        <hr/>

        <mat-form-field>
          <input [(ngModel)]="dashboard.name" matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="dashboard.previewImage" matInput placeholder="Preview Image URL">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="dashboard.backgroundImage" matInput placeholder="Background Image URL">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="dashboard.isPrimary" labelPosition="before">
          Primary Dashboard
        </mat-checkbox>

        <hr/>

        <div>
          <button (click)="saveDashboard()" mat-raised-button color="primary">Save</button>
          <button (click)="deleteDashboard()" mat-icon-button id="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>

    </div>
  </div>

</div>