.drag-over {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2px;
  border-radius: 2px;
}

.widget-content {
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.widget-footer {
  max-height: 0px;
}

.widget-footer > button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}


a {
    color: white;
}

.top-margin {
  margin-top: 30px;
}