<div *ngIf="dashboard" style="position:absolute" [ngStyle]="{'background-image': 'url(' + dashboard.backgroundImage + ')'}">
  <div class="content row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <h1>{{dashboard.name}}</h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngFor="let widget of widgets; let i = index;" class="col-md-4 top-margin" [ngClass]="{'drag-over':dragOverWidgetId === widget.id}">
      <mat-card class="widget" on-mouseover="hvIdx = i" on-mouseleave="hvIdx = -1"
        draggable="true"
        (dragstart)="onDragStart($event, widget.id)"
        (drop)="onDrop($event, widget.id)"
        (dragover)="onDragOver($event, widget.id)"
        (dragleave)="onDragLeave($event)">
        <mat-card-content class="widget-content">
          <div *ngIf="widget.displayable" [innerHTML]="sanitizeHtml(widget.html)"></div>
          <div *ngIf="!widget.displayable">
            <h4>Fetching Data...</h4><br/>
            <loading-bar></loading-bar>
          </div>
        </mat-card-content>
        <mat-card-actions class="widget-footer"
          draggable="true"
          (dragstart)="onDragStart($event, widget.id)"
          (drop)="onDrop($event, widget.id)"
          (dragover)="onDragOver($event, widget.id)"
          (dragleave)="onDragLeave($event)">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/widget-editor', dashboard.id, widget.id]">
              <mat-icon>edit</mat-icon>
              <span>Edit Widget</span>
            </button>
          </mat-menu>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>