body {
    background-color: #ebebeb!important;
    background-image: url('assets/orange-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.header {
  background-color: rgb(88, 102, 128);
  color: rgb(245, 245, 245);
  padding: 30px;
  margin-top: -40px;
  margin-left: -50px;
  margin-right: -40px;
  height: 90px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}