<div class="header">
  <h1 *ngIf="!user">Custom Dashboards</h1>
  <h1 *ngIf="user">Your Dashboards</h1>
</div>
  
<div class="content"> 
  <div class="row">
    
    <div *ngIf="!user" class="col-md-12">
      <h2>Login to begin creating your custom dashboard!</h2>
      <br/>
      <button class="btn btn-primary" (click)="login()">Sign in with Google</button>
    </div>

  </div>

  <div *ngIf="user" class="row">

    <div class="col-md-6 top-margin">
      <div class="box">
        <ul class="mdc-list">
          <li class="mdc-list-item">
            <a href="#" (click)="createDashboard()"><h4>Create Dashboard</h4></a>
          </li>
          <hr/>
          <li *ngFor="let dashboard of dashboards; let i=index" (click)="selectDashboard(dashboard)" on-mouseover="hvIdx = i" on-mouseleave="hvIdx = -1" class="mdc-list-item">
            <span class="clickable">{{dashboard.name}}</span>
            <a *ngIf="hvIdx === i" [routerLink]="['/dashboard-editor', dashboard.id]" class="mdc-list-item__end-detail material-icons">
              <i class="fa fa-wrench"></i>
            </a>
          </li>
          <hr/>
          <li class="mdc-list-item">
            <a routerLink="/client-editor">Manage Clients</a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="selectedDashboard" class="col-md-6 top-margin">
      <div class="mdc-card demo-card clickable" [routerLink]="['/dashboard', selectedDashboard.id]">
        <section class="mdc-card__media dashboard-card-media" [ngStyle]="{'background-image': 'url(' + dashboardPreview + ')'}"></section>
        <section class="mdc-card__supporting-text">
          <h4>{{selectedDashboard.name}}</h4>
        </section>
      </div>
    </div>
  </div>
</div>