<div [@slideInOut]="menuState" id="side-bar">
  <div class="small-spacer"></div>
  <a class="hamburger side-menu-item-small" href="#" (click)="toggleMenu()">
    <i *ngIf="menuState === 'in'" class="fa fa-bars fa-2x" aria-hidden="true"></i>
    <i *ngIf="menuState === 'out'" class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
  </a>
  <a class="home side-menu-item" href="#" routerLink="/" (click)="toggleMenu()">
    <h4>Dashboard</h4>
  </a>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <a style="color:white" class="side-menu-item-small" (click)="restartClients()">
    <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
  </a>
  <a class="side-menu-item" routerLink="/login" (click)="toggleMenu()">
    Login
  </a>
  <div class="small-spacer"></div>
  <a class="side-menu-item" routerLink="/editor/new" (click)="toggleMenu()">
    Create New Widget
  </a>
  <div class="small-spacer"></div>
  <a class="side-menu-item" routerLink="/client-editor" (click)="toggleMenu()">
    Manage Clients
  </a>
</div>