<div [@slideInOut]="menuState" id="side-bar">
  <div class="small-spacer"></div>
  <a class="hamburger side-menu-item-small" href="#" (click)="toggleMenu()">
    <i *ngIf="menuState === 'in'" class="fa fa-bars fa-2x" aria-hidden="true"></i>
    <i *ngIf="menuState === 'out'" class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
  </a>
  <a class="home side-menu-item" href="#" routerLink="/" (click)="toggleMenu()">
    <h4>Home</h4>
  </a>
  <a *ngIf="menuState === 'in' && user" class="side-menu-item-small">
    <img id="profile-pic" [src]="user.profilePic">
  </a>
  <div class="spacer"></div>
  <a *ngIf="user" class="side-menu-item" style="color:white">
    {{user.name}}
  </a>
  <a *ngIf="user" class="side-menu-item">
    <img [src]="user.profilePic">
  </a>
  <div class="spacer"></div>
  <a *ngIf="menuState === 'in' && !refreshing && user" style="color:white; bottom:100px" class="side-menu-item-small" (click)="restartClients()">
    <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
  </a>
  <a *ngIf="menuState === 'in' && refreshing && user" style="color:white; margin-right:3px; bottom:100px" class="side-menu-item-small">
    <i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
  </a>
  <a *ngIf="menuState === 'out' && !user" class="side-menu-item" href="#" (click)="login()">
    Login
  </a>
  <a *ngIf="menuState === 'out' && user" class="side-menu-item" href="#" (click)="logout()">
    Logout
  </a>
  <div class="small-spacer"></div>
  <a *ngIf="menuState === 'out' && user" class="side-menu-item" routerLink="/client-editor" (click)="toggleMenu()">
    Manage Clients
  </a>
  <div class="small-spacer"></div>
  <a *ngIf="menuState === 'out' && user && dashboard.id" class="side-menu-item" [routerLink]="['/widget-editor', dashboard.id, 'new']" (click)="toggleMenu()">
    Create New Widget
  </a>
  <div class="small-spacer"></div>
  <a *ngIf="menuState === 'out' && user && dashboard.id" class="side-menu-item" href="" (click)="deleteDashboard()">
    Delete Dashboard
  </a>
</div>